[submodule "utils"]
	path = utils
	url = git@github.com:altalang/Python-Utilities
[submodule "configsmash"]
	path = configsmash
	url = git@github.com:rranshous/configsmash
[submodule "findfiles"]
	path = findfiles
	url = git@github.com:rranshous/findfiles
